/* css pour la page Home et pour le component HomeComponent */

.titresHome {
  gap: 1em;
  display: flex;
  flex-direction: column;
}

.titresHome h1 {
  color: rgb(102, 82, 12);
  margin-top: 1em;
  margin-left: 2em;
  font-weight: bolder;
  text-decoration: underline;
}

.titresHome h2 {
  color: rgb(146, 103, 17);
  display: flex;
  justify-content: center;
  font-weight: bolder;
  margin-left: 1em;
}

.componentHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.linkBook {
  display: flex;
  position: absolute;
}

.linkCreate {
  display: flex;
  position: absolute;
}

.linkLogout {
  display: flex;
  position: absolute;
}

.linkBook a {
  display: flex;
  position: relative;
  top: 0.7em;
  left: 2.2em;
  z-index: 1;
  font-weight: bolder;
  text-decoration: underline;
}

.linkCreate a {
  display: flex;
  position: relative;
  top: 3.2em;
  left: 1em;
  z-index: 1;
  font-weight: bolder;
  text-decoration: underline;
}

.linkLogout a {
  display: flex;
  position: relative;
  top: 25em;
  right: 1em;
  z-index: 1;
  font-weight: bolder;
  color: rgb(143, 23, 23);
  text-decoration: underline;
}

.backgroundHome {
  max-width: 350px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1068px) {
  .titresHome h1 {
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-left: 0cap;
  }

  .titresHome h2 {
    font-weight: 300;
    margin-left: 0em;
  }
}
