* {
  text-decoration: none;
  list-style: none;
  font-family: var(--font-text);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 14px;
}

p {
  font-size: 14px;
}

@media screen and (min-width: 1068px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 16px;
  }
  .main_body {
    display: flex;
  }
  .main_body > header {
    width: 248px;
  }
}
